#team {
    /* Positioning and Layout */
    display: flex;
    align-items: center;
    flex-direction: column;
}

 #team > div {
    align-items: center;
    grid-column-gap: 10rem;
    width: 80%;
}

#team-infos {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}



/*________ TITLE H1 ________*/
#team h1 {
    /* Positioning and Layout */
    margin-top: 50px;
    
    /* Typography */
    color: var(--white);
    font-size: 100px;
    font-family: var(--title);
    filter: var(--dropShadow2px);
}

/*________ TITLE H2 ________*/
#team h2 {
    font-family: var(--subTitle);
    /* Typography */
    color: var(--white) ;
    font-size: 24px;
}



#editFormContainer{
    width: 100%;
}
#editFormContainer input[type='submit']{
    margin-top: 2rem;
}

#editForm{
    display: grid;
    grid-template-columns: auto auto;
}

.input-member {
    position: relative;
    transition: all .4s;
}
.input-member:hover {
    background: var(--darkerDarkGrey);
    transition: all .4s;
}

/* Style pour la liste des membres */
.member-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

/* Style pour chaque membre */
.member-show {
    padding: 5px;
    margin: 0;
}
.member-show p {
    color: var(--white);
    font-size: 1.3rem;
}
/* Style pour chaque membre */
.member-show img {
    width: 4rem;
    padding-right: 10px;
}


.team-members {
    position: relative;
    width: 100%;
    height: 50vh;
    min-height: 100%;
    padding: 20px;
    color: #fff;
    text-align: center;

    border-radius: var(--borderRadius);
    margin-bottom: 20px;
/* 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white; */
}






.team-infos p {
    color: #666666;
    margin-bottom: 5px;
    font-size: 20px;
}








/* Styles pour le formulaire */
form {
    margin-top: 20px;
    max-width: 100%; /* Ajustez la largeur maximale selon vos besoins */
    margin-left: auto;
    margin-right: auto;
}

/* Styles pour les étiquettes */
form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: var(--black);
}

form #upload-btn {
    margin-bottom: 5px;
    font-size: 1rem;
}



/* Styles pour les champs de texte */
form input[type="text"],
form textarea {
    outline: none;
    background: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: var(--white);
    border: none;
    transition: all .4s;
}
form input[type="text"]:focus {
    background: var(--darkerDarkGrey);
    transition: all .4s;
}

.member-show {
    position: relative;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--subTitle);
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;    
}


.member-show span {
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    width: 100%;
    height: 0.1rem;
    background-color: var(--blue);
    filter: var(--dropShadow2px);
}

/* .video-container {
} */
.video-infos-container {
    color: var(--white);
}
.video-container {
    gap: 50px;
}
.video-infos-container div {
    text-align: center;
    width: 100%;
}
.video-infos-container label, .video-infos-container input {
    width: 70%;
    font-size: 1rem;
    margin: 10px 0px;
    padding: 10px 10px;
    font-family: var(--subTitle);
    text-align: center;
    outline: none;
    background: none;
    box-sizing: border-box;
    color: var(--white);
    transition: all .4s;
}
.video-infos-container label {
    font-size: 1rem;
}
.video-infos-container input[type="text"] {
    background-color: var(--darkerDarkGrey);
    position: relative;
}
.preview-video {
    gap: 10px;
    color: var(--white);
    width: 400px;
    height: 300px;
    border-radius: var(--borderRadius);
    background-color: var(--darkerDarkGrey);
}
.preview-video h3 {
    color: var(--white);
    font-size: 1.5rem;
}
.preview-video label {
    text-align: center;
    width: 80%;
    color: var(--white);
    font-size: 1rem;
}
#videoURL {
    background-color: var(--black);
    word-break: break-all;
    width: 20rem;
    height: auto;
}
.video-infos-container input:focus {
    background: var(--darkerDarkGrey);
    transition: all .4s;
}
.video-infos-container input::after {
    z-index: 1;
    content: '';
    width: 100%;
    height: 1rem;
    background-color: var(--blue);
    filter: var(--dropShadow2px);
}
.video-infos-container label span{
    opacity: .7;
    color: var(--lightGrey);
    font-style: italic;
}
#video-h2 {
    margin-top: 40px;
    margin-bottom: -75px;
}
iframe {
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadius);
}